/* =========================================
   TIPOGRAFÍA
========================================= */
/* Fuente: Dokument */
@font-face {
    font-family: 'Dokument';
    src:
        url('fonts/Dokument-StandardBlack.woff2') format('woff2'),
        url('fonts/Dokument-StandardBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Regular */
@font-face {
    font-family: 'NeueHaasRegular';
    src:
        url('fonts/NeueHaasGroteskTextPro-Regular.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Medium */
@font-face {
    font-family: 'NeueHaasMedium';
    src:
        url('fonts/NeueHaasGroteskTextPro-Medium.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Bold */
@font-face {
    font-family: 'NeueHaasBold';
    src:
        url('fonts/NeueHaasGroteskTextPro-Bold.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* =========================================
   RESET BÁSICO
========================================= */
/* Reset básico */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;           /* elimina márgenes superior e inferior */
    padding: 0;          /* elimina cualquier padding */
    font-size: inherit;  /* hereda el tamaño de la fuente del contenedor */
    font-weight: normal; /* elimina negrita por defecto */
    line-height: normal; /* normaliza la altura de línea */
    color: inherit;      /* hereda el color del texto del contenedor */
    font-family: inherit;/* hereda la tipografía del contenedor */
}

h2 {
    margin: 0;      
    padding: 0; 
    font-size: inherit; 
    font-weight: normal;
    line-height: normal;
    color: inherit;
    font-family: inherit;
}



/* =========================================
   CURSOR
========================================= */
/* Cursor por defecto en toda la página */
html, body, button, a, div, input, textarea {
    cursor: url('../images/horse-white.png') 16 16, auto !important;
}

/* Cursor azul al pasar sobre elementos interactivos */
button:hover,
.item-name:hover,
.scroll-arrow:hover,
.circle-marker div:hover {
    cursor: url('../images/horse-blue.png') 16 16, auto !important;
}

/* Opcional: quitar estilos nativos de botones que interfieran */
button, input[type="button"], input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    appearance: none;
}



/* =========================================
   PANTALLA BIENVENIDA
========================================= */
/* Contenedor de todas las secciones de bienvenida */
#intro-screens {
    height: 100vh;           /* ocupa toda la ventana */
    overflow-y: scroll;      /* permite scroll vertical */
    scroll-snap-type: y mandatory; /* scroll tipo bloque solo aquí */
}

/* Cada sección */
#welcome-screen,
#second-screen {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección azul */
#welcome-screen {
    background-color: #302683;
    color: #ffffff;
    flex-direction: column;
    text-align: center;
}

/* Sección blanca */
#second-screen {
    background-color: #ffffff;
    color: #302683;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image:
        linear-gradient(to right, #2f268329 1px, transparent 1px),
        linear-gradient(to bottom, #2f268329 1px, transparent 1px);
    background-size: 200px 200px; /* tamaño de cada celda del grid */
    background-position: 2.5vw 2.5vw;
}

/* Texto Compostela Xadrez */
#welcome-screen h1 {
    font-family: 'Dokument', sans-serif;
    width: 100%;                  /* ocupa todo el ancho */
    font-size: clamp(48px, 15vw, 300px); /* crece con la pantalla */
    letter-spacing: -0.03em;
    line-height: 0.9 ;  
    color: #ffffff;
    text-align: center;
}

/*Flecha bajar a sección blanca */
.scroll-arrow{
    margin-top:5vw;
    width: 1.5em;        /* Igual que la altura del texto */
    height: 1.5em;       /* Proporcional */

}

/* Contenedor texto sección blanca */
.second-content {
    flex: 1; /* ocupa todo el espacio vertical disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;
    text-align: center;
}

/* Texto explicativo */
#second-screen h2 {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin: 0 10vw 5vw 10vw; /* separación controlada */
}

/* Boton Consultar o mapa */
#second-screen button {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: -0.01em;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #302683;
    cursor: pointer;
}

/*Flecha ir al mapa */
.map-arrow {
    width: 1em;        /* Igual que la altura del texto */
    height: 1em;       /* Proporcional */
    vertical-align: middle; /* Centra la flecha con el texto */
}

/* Texto diseñado por maria */
#second-screen p {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(6px, 2vw, 12px); /* mínimo 12px, preferido 2% del ancho, máximo 18px */
    letter-spacing: -0.01em;
    color: #302683;
    text-align: center;
    margin-top: auto;   /* empuja el párrafo hacia el final del contenedor */
}



/* =========================================
   CONTENEDOR PRINCIPAL PAGINA WEB
========================================= */
/* Contenedor principal */
.container {
    display: flex;      /* SIEMPRE flex */
    flex-direction: row; /* Desktop horizontal */
    height: 100vh;
    width: 100%;
}

.container.hidden {
    display: none;
}


/* =========================================
   PANEL IZQUIERDO - MAPA
========================================= */
/* Panel izquierdo */
.left-panel {
    flex: 2;          /* 2/3 del ancho */
    min-height: 0;    /* importante para que flex calcule bien la altura */
    display: flex;     /* importante para que #map ocupe todo */
}

/* Mapa ocupa todo el panel izquierdo */
#map {
    flex: 1;    /* ocupa todo el espacio de .left-panel */
}

/* Marcadores del mapa */
.circle-marker div {
    width: 24px;
    height: 24px;
    border-radius: 50%;          /* círculo */
    text-align: center;
    line-height: 24px;           /* centra verticalmente el texto */
    font-family: 'NeueHaas-Medium', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: white;
    color: #302683;
    border: 2px solid #302683;
}

/* Marcador activo (seleccionado) */
.circle-marker div.active {
    color: white;  
    background-color: #302683;
}



/* =========================================
   PANEL DERECHO - LISTADO 
========================================= */
/* Panel derecho */
.right-panel {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Definición de la altura del header (botón para volver) */
:root {
    --right-header-height: 3vw;
}

/* Contenedor header */
.right-panel-header {
    width: 100%;
    height: var(--right-header-height);  /* altura definida */
    min-height: var(--right-header-height); /* asegura que no se encoja */

    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center; /* centra verticalmente el contenido */
    padding-left: 2vw;

    background: #ffffff;
    border-bottom: #2f26834b solid 1px;

    flex-shrink: 0; /* evita que el flex container lo reduzca */

    container-type: inline-size;
}

/* Botón volver a home */
#back-to-intro {
    background: none;
    border: none;
    padding: 0;
    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(12px, 4cqw, 24px);
    letter-spacing: -0.01em;
    color: #302683;
    cursor: pointer;
    display: flex;
    align-items: center;   /*  alinea por abajo */
    gap: 0.4em;
}

/* Flecha volver a home */
.home-arrow{
    width: 1em;        /* em unidad relativa de fuente del elemento padre*/
    height: 1em;       /* Proporcional */
    display: block;   /* elimina baseline spacing */
}


/* Fila del item */
.site-item-row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: #2f26834b solid 1px;
    scroll-margin-top: var(--right-header-height);
}

/* Columnas */
.item-col {
    width: 0; /* Se ajusta según clase específica */
    box-sizing: border-box;

}

/* Anchos relativos de cada columna */
.item-col-1 {
    width: 5%; 
    border-right: #2f26834b solid 1px;
}
.item-col-2 {
    position: relative;  /* necesario para que el botón se posicione respecto a esta columna */
    width: 47.5%; 
    border-right: #2f26834b solid 1px;
    padding: 1vw;   /* pequeño padding para todo el contenido de la columna */
    box-sizing: border-box; /* importante para que el padding no afecte al ancho */
    container-type: inline-size; /* defino la columna como contenedor para el tamaño de la tipo */
}

.item-col-3 {
    width: 47.5%;
}

/* Contenedor de la columna 3, oculto por defecto*/
.item-col-3 .item-services-container {
    display: none;       /* Oculto por defecto */
    flex-wrap: wrap;
    gap: 5px;
    padding: 1vw;
}

.site-item-row.active .item-col-3 .item-services-container {
    display: flex;       /* Se muestra solo cuando el item está activo */
}

/* Chips de servicios dentro del item activo */
.site-item-row.active .service-chip {
    color: white;            /* texto blanco */
    border-color: white;     /* contorno blanco */
    background-color: transparent; /* opcional, si quieres que el fondo siga transparente */
}

.site-item-row.active .item-col-1 {
    xborder-right: #ffffff39  solid 1px;
}
.site-item-row.active .item-col-2 {
    xborder-right: #ffffff39 solid 1px;
}


/* Estilo del item activo */
.site-item-row.active {
    background-color: #302683;  /* color de fondo cuando está activo */
}

.site-item-row.active .item-id,
.site-item-row.active .item-name,
.site-item-row.active .item-address,
.site-item-row.active .item-services,
.site-item-row.active .route-btn {
    color: white; 
}



/* =========================================
   ITEM DE LA LISTA
========================================= */
.item-id {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(7px, 8cqw, 16px);
    font-style: normal;
    letter-spacing: -0.01em;
    color: #302683;
}

.item-name {
    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(14px, 16cqw, 32px);
    font-style: normal;   
    letter-spacing: -0.03em;
    color: #302683;
    line-height: 0.9;
    padding-top: 0.5vw;
}

.item-address {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(7px, 8cqw, 16px);
    font-style: normal;
    letter-spacing: -0.01em;
    color: #302683;
    line-height: 1.1;
    padding-top: 0.5vw;
}

.item-services {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 0.5vw;
}

.service-chip {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(5.25px, 6cqw, 12px);
    color: #302683;
    border: 1px solid #302683;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
    padding: 0.1vw;
}

.route-btn {
    position: absolute;
    bottom: 1vw;
    right: 1vw;

    display: flex;          /* clave */
    align-items: center;    /* centra vertical interno */
    gap: 0.4em;

    background: none;
    border: none;
    padding: 0;

    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(7px, 8cqw, 16px);
    letter-spacing: -0.01em;
    color: #302683;
    cursor: pointer;
}

/* Flecha como llegar */
.route-arrow {
    width: 1em;
    height: 1em;
    display: block;   /* elimina espacio baseline */
}



/* =========================================
   RESPONSIVE MÓVIL
========================================= */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .left-panel {
        flex: none;
        height: 60vh;   /* 60% mapa */
    }

    .right-panel {
        flex: none;
        height: 40vh;   /* 40% listado */
    }

    .right-panel-header {
        height: 45px; /* aumenta altura en móvil */
    }
}


