/*TIPOGRAFIA*/
/************************************************************************************************************************************/
/* Fuente: Dokument */
@font-face {
    font-family: 'Dokument';
    src:
        url('fonts/Dokument-StandardBlack.woff2') format('woff2'),
        url('fonts/Dokument-StandardBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Regular */
@font-face {
    font-family: 'NeueHaasRegular';
    src:
        url('fonts/NeueHaasGroteskTextPro-Regular.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Medium */
@font-face {
    font-family: 'NeueHaasMedium';
    src:
        url('fonts/NeueHaasGroteskTextPro-Medium.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Bold */
@font-face {
    font-family: 'NeueHaasBold';
    src:
        url('fonts/NeueHaasGroteskTextPro-Bold.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*RESET BÁSICO*/
/************************************************************************************************************************************/
/* Reset básico */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}



/* PANTALLA DE BIENVENIDA */
/************************************************************************************************************************************/
/* Pantalla de bienvenida */
#welcome-screen {
    position: fixed;
    inset: 0;
    background-color: #302683;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20px;
    z-index: 999;
    transition: transform 1s ease, opacity 1s ease;
}

#welcome-screen h1 {
    font-family: 'Dokument', sans-serif;
    width: 100%;                  /* ocupa todo el ancho */
    font-size: clamp(48px, 15vw, 300px); /* crece con la pantalla */
    letter-spacing: -0.02em;
    line-height: 0.9;  
    color: #ffffff;
    margin-top: auto;     /* empuja hacia abajo */
    margin-bottom: 40px;  /* controla cercanía al botón */
    text-align: center;
}

#welcome-screen button {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(12px, 3vw, 20px);
    padding: 10px 20px;
    margin-bottom: auto;  /* empuja hacia arriba */
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
}

/* Clase para animar fuera de la pantalla */
#welcome-screen.hide {
    transform: translateX(100%); /* se desplaza a la derecha */
    opacity: 0;
    pointer-events: none;        /* evita que siga capturando clicks */
}



/*CONTENEDORES DE LA PÁGINA*/
/************************************************************************************************************************************/
/* Contenedor principal */
.container {
    display: none;      /*  OCULTO AL INICIO */
    height: 100vh;
    width: 100%;
}



/*MAPA*/
/************************************************************************************************************************************/
/* Panel izquierdo*/
.left-panel {
    flex: 2;          /* 2/3 del ancho */
    min-height: 0;    /* importante para que flex calcule bien la altura */
    display: flex;     /* importante para que #map ocupe todo */
}

/* Mapa ocupa todo el panel izquierdo */
#map {
    flex: 1;    /* ocupa todo el espacio de .left-panel */
}

/* Marcadores del mapa */
.circle-marker div {
    width: 24px;
    height: 24px;
    border-radius: 50%;          /* círculo */
    text-align: center;
    line-height: 24px;           /* centra verticalmente el texto */
    font-family: 'NeueHaas-Medium', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: white;
    color: #302683;
    border: 2px solid #302683;
}

/* Marcador activo (seleccionado) */
.circle-marker div.active {
    background-color: #302683;
    color: white;    

    /* font-family heredada de .circle-marker div */
}



/*LISTADO DE LUGARES DONDE JUGAR AL AJEDREZ*/
/************************************************************************************************************************************/
/* Panel derecho */
.right-panel {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;      /* scroll vertical */
    position: relative;     /* referencia para wrapper absoluto opcional */
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-image:
        linear-gradient(to right, #2f268366 1px, transparent 1px),
        linear-gradient(to bottom, #2f268366 1px, transparent 1px);
    background-size: 150px 150px;
    background-position: 20px 20px;
    pointer-events: none; 
    z-index: 0;
}

/* Wrapper que contiene los items y la cuadrícula */
.items-wrapper {
    position: relative;
}

/* Items encima de la cuadrícula */
.site-item {
    position: relative;
    z-index: 1;
    padding: 20px 5vw 20px 2vw;
    display: flex;
    align-items: flex-start;
    gap:0.5vw; /* separación entre columnas */
}

.site-item:hover{
    cursor: pointer;
}

/* Item de lista activo */
.site-item.active {
    background-color: #302683; /* azul */
    color: white;
}

.site-item.active .item-id,
.site-item.active .item-name,
.site-item.active .item-address,
.site-item.active .item-services,
.site-item.active .route-btn {
    color: white; /* asegura que todo el texto sea blanco */
}



/*ITEM LISTA*/
/************************************************************************************************************************************/
/*Cabecera */
.item-header {
    flex: 0 0 auto;             /* ancho mínimo necesario */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/*Body */
.item-body {
    flex: 1;                    /* ocupa todo el espacio restante */
    display: flex;
    flex-direction: column;      /* apilar elementos verticalmente */
    align-items: flex-start;
}

.item-id {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px); /* mínimo 12px, preferido 2% del ancho, máximo 18px */
    font-style: normal;
    color: #302683;
    letter-spacing: 0.05em;
}

.item-name {
    font-family: 'NeueHaasBold', sans-serif;
    font-style: normal;   
    font-size: clamp(20px, 5vw, 45px); /* mínimo 20px, crece con el ancho, máximo 45px */
    line-height: 0.9; /* mejor usar relativo al tamaño de fuente */
    color: #302683;
}

.item-address {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px); /* mínimo 12px, preferido 2% del ancho, máximo 18px */
    font-style: normal;
    color: #302683;
    letter-spacing: 0.01em;
    line-height: 1; /* mejor usar relativo al tamaño de fuente */
    padding-top: 1vw;
}

.item-services {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(8px, 2vw, 14px); /* mínimo 12px, preferido 2% del ancho, máximo 18px */
    font-style: normal;
    color: #302683;
    letter-spacing: 0.01em;
    padding-top: 1vw;
}

.route-btn {
     background: none;    /* quitar estilos por defecto */
    border: none; /* quitar estilos por defecto */
    outline: none; /* quitar estilos por defecto */
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(8px, 2vw, 14px); /* mínimo 12px, preferido 2% del ancho, máximo 18px */
    letter-spacing: 0.01em;
    color: #ffffff;
    background-color:#302683 ;
    cursor: pointer;
    margin-top:1.5vw;
    padding: 0;
}
