/*TIPOGRAFIA*/
/************************************************************************************************************************************/
/* Fuente: Dokument */
@font-face {
    font-family: 'Dokument';
    src:
        url('fonts/Dokument-StandardBlack.woff2') format('woff2'),
        url('fonts/Dokument-StandardBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Regular */
@font-face {
    font-family: 'NeueHaasRegular';
    src:
        url('fonts/NeueHaasGroteskTextPro-Regular.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Medium */
@font-face {
    font-family: 'NeueHaasMedium';
    src:
        url('fonts/NeueHaasGroteskTextPro-Medium.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fuente: Neue Haas Grotesk Bold */
@font-face {
    font-family: 'NeueHaasBold';
    src:
        url('fonts/NeueHaasGroteskTextPro-Bold.woff2') format('woff2'),
        url('fonts/NeueHaasGroteskTextPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*RESET B츼SICO*/
/************************************************************************************************************************************/
/* Reset b치sico */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;           /* elimina m치rgenes superior e inferior */
    padding: 0;          /* elimina cualquier padding */
    font-size: inherit;  /* hereda el tama침o de la fuente del contenedor */
    font-weight: normal; /* elimina negrita por defecto */
    line-height: normal; /* normaliza la altura de l칤nea */
    color: inherit;      /* hereda el color del texto del contenedor */
    font-family: inherit;/* hereda la tipograf칤a del contenedor */
}

h2 {
    margin: 0;      
    padding: 0; 
    font-size: inherit; 
    font-weight: normal;
    line-height: normal;
    color: inherit;
    font-family: inherit;
}


/*CURSOR AJEDREZ */
/************************************************************************************************************************************/
/* Cursor por defecto en toda la p치gina */
html, body, button, a, div, input, textarea {
    cursor: url('../images/horse-white.png') 16 16, auto !important;
}

/* Cursor azul al pasar sobre elementos interactivos */
button:hover,
.item-name:hover,
.circle-marker div:hover {
    cursor: url('../images/horse-blue.png') 16 16, auto !important;
}

/* Opcional: quitar estilos nativos de botones que interfieran */
button, input[type="button"], input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    appearance: none;
}



/* PANTALLA DE BIENVENIDA */
/************************************************************************************************************************************/
/* Contenedor de todas las secciones de bienvenida */
#intro-screens {
    height: 100vh;           /* ocupa toda la ventana */
    overflow-y: scroll;      /* permite scroll vertical */
    scroll-snap-type: y mandatory; /* scroll tipo bloque solo aqu칤 */
}

/* Cada secci칩n */
#welcome-screen,
#second-screen {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pantalla bienvenida azul*/
#welcome-screen {
    background-color: #302683;
    color: #ffffff;
    flex-direction: column;
    text-align: center;
}

/* Pantalla bienvenida blanca */
#second-screen {
    background-color: #ffffff;
    color: #302683;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image:
        linear-gradient(to right, #2f26834b 1px, transparent 1px),
        linear-gradient(to bottom, #2f26834b 1px, transparent 1px);

    background-size: 200px 200px; /* tama침o de cada celda del grid */
    background-position: 2.5vw 2.5vw;
}

/* Texto Compostela Xadrez*/
#welcome-screen h1 {
    font-family: 'Dokument', sans-serif;
    width: 100%;                  /* ocupa todo el ancho */
    font-size: clamp(48px, 15vw, 300px); /* crece con la pantalla */
    letter-spacing: -0.03em;
    line-height: 0.9 ;  
    color: #ffffff;
    text-align: center;
}

.scroll-arrow{
    margin-top:5vw;
    width: 1.5em;        /* Igual que la altura del texto */
    height: 1.5em;       /* Proporcional */

}

/* Contenedor texto pantalla bienvenida blanca*/
.second-content {
    flex: 1; /* ocupa todo el espacio vertical disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;
    text-align: center;
}

#second-screen h2 {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin: 0 10vw 5vw 10vw; /* separaci칩n controlada */
}

/* Boton Consultar o mapa*/
#second-screen button {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: -0.01em;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #302683;
    cursor: pointer;
}

.arrow-icon {
    width: 1em;        /* Igual que la altura del texto */
    height: 1em;       /* Proporcional */
    vertical-align: middle; /* Centra la flecha con el texto */
}

/* Texto dise침o por maria*/
#second-screen p {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(8px, 2vw, 14px); /* m칤nimo 12px, preferido 2% del ancho, m치ximo 18px */
    letter-spacing: -0.01em;
    color: #302683;
    text-align: center;
    margin-top: auto;   /* empuja el p치rrafo hacia el final del contenedor */
}


/*CONTENEDORES DE LA P츼GINA*/
/************************************************************************************************************************************/
/* Contenedor principal */
.container {
    display: none;      /*  OCULTO AL INICIO */
    height: 100vh;
    width: 100%;
}



/*MAPA*/
/************************************************************************************************************************************/
/* Panel izquierdo*/
.left-panel {
    flex: 2;          /* 2/3 del ancho */
    min-height: 0;    /* importante para que flex calcule bien la altura */
    display: flex;     /* importante para que #map ocupe todo */
}

/* Mapa ocupa todo el panel izquierdo */
#map {
    flex: 1;    /* ocupa todo el espacio de .left-panel */
}

/* Marcadores del mapa */
.circle-marker div {
    width: 24px;
    height: 24px;
    border-radius: 50%;          /* c칤rculo */
    text-align: center;
    line-height: 24px;           /* centra verticalmente el texto */
    font-family: 'NeueHaas-Medium', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: white;
    color: #302683;
    border: 2px solid #302683;
}

/* Marcador activo (seleccionado) */
.circle-marker div.active {
    color: white;  
    background-color: #302683;
}



/*LISTADO DE LUGARES DONDE JUGAR AL AJEDREZ*/
/************************************************************************************************************************************/
/* Panel derecho*/
.right-panel {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/*Definici칩n de la altura del header (bot칩n para volver) */
:root {
    --right-header-height: 3vw;
}


/*Bot칩n para volver a pantalla de bienvenida */
.right-panel-header {
    width: 100%;
    height: var(--right-header-height);  /* altura definida */
    min-height: var(--right-header-height); /* asegura que no se encoja */

    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center; /* centra verticalmente el contenido */
    padding-left: 2vw;

    background: #ffffff;
    border-bottom: #2f26834b solid 1px;

    flex-shrink: 0; /* evita que el flex container lo reduzca */
}

#back-to-intro {
    background: none;
    border: none;
    padding: 0;
    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(12px, 2vw, 18px);
    letter-spacing: -0.01em;
    color: #302683;
    cursor: pointer;
}


/* FILA DEL ITEM */
.site-item-row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: #2f26834b solid 1px;
    scroll-margin-top: var(--right-header-height);
}

/* COLUMNAS */
.item-col {
    width: 0; /* Se ajusta seg칰n clase espec칤fica */
    box-sizing: border-box;

}

/* Anchos relativos de cada columna */
.item-col-1 {
    width: 5%; 
    border-right: #2f26834b solid 1px;
}
.item-col-2 {
    position: relative;  /* necesario para que el bot칩n se posicione respecto a esta columna */
    width: 47.5%; 
    border-right: #2f26834b solid 1px;
    padding: 1vw;   /* peque침o padding para todo el contenido de la columna */
    box-sizing: border-box; /* importante para que el padding no afecte al ancho */
}

.item-col-3 {
    width: 47.5%;
}


/* Estilo del item activo */
.site-item-row.active {
    background-color: #302683;  /* color de fondo cuando est치 activo */
}

.site-item-row.active .item-id,
.site-item-row.active .item-name,
.site-item-row.active .item-address,
.site-item-row.active .item-services,
.site-item-row.active .route-btn {
    color: white; 
}


/* Chips de servicios dentro del item activo */
.site-item-row.active .service-chip {
    color: white;            /* texto blanco */
    border-color: white;     /* contorno blanco */
    background-color: transparent; /* opcional, si quieres que el fondo siga transparente */
}



/*ITEM LISTA*/
/************************************************************************************************************************************/
.item-id {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(10px, 1.5vw, 16px); /* m칤nimo 10px, preferido 1.5% del ancho, m치ximo 16px */
    font-style: normal;
    letter-spacing: -0.01em;
    color: #302683;
}

.item-name {
    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(15px, 3vw, 35px); /* m칤nimo 20px, crece con el ancho, m치ximo 45px */
    font-style: normal;   
    letter-spacing: -0.05em;
    color: #302683;
    line-height: 0.9; /* mejor usar relativo al tama침o de fuente */
    padding-top: 0.5vw;
}

.item-address {
    font-family: 'NeueHaasMedium', sans-serif;
    font-size: clamp(10px, 1.5vw, 16px); /* m칤nimo 10px, preferido 1.5% del ancho, m치ximo 16px */
    font-style: normal;
    letter-spacing: -0.01em;
    color: #302683;
    line-height: 1; /* mejor usar relativo al tama침o de fuente */
    padding-top: 0.5vw;
}

.item-services {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 0.5vw;
}

.service-chip {
    font-family: 'NeueHaasRegular', sans-serif;
    font-size: clamp(5px, 1.2vw, 10px);
    color: #302683;
    border: 1px solid #302683;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
    padding: 0.1vw;
}


.route-btn {
    position: absolute;
    bottom: 1vw;
    right: 1vw;

    display: flex;          /* 游댠 clave */
    align-items: center;    /* centra vertical interno */
    gap: 0.4em;

    background: none;
    border: none;
    padding: 0;

    font-family: 'NeueHaasBold', sans-serif;
    font-size: clamp(8px, 1.5vw, 14px);
    letter-spacing: -0.01em;
    color: #302683;
    cursor: pointer;
}

/* Flecha como llegar */
.route-arrow {
    width: 1em;
    height: 1em;
    display: block;   /* elimina espacio baseline */
}




